@import "tailwindcss";

html {
  scroll-padding-top: 80px; /* Adjust if your navbar height changes */
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Apply offset only to specific sections */
#projects,
#skills,
#testimonials,
#contact {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}

@keyframes backgroundZoom {
  0%, 100% { background-size: 100%; }
  50% { background-size: 105%; }
}
